<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
        "api/admins/admin.json.jbuilder",
        admin: current_user
    ).html_safe %></script>
<% end %>

<div id="root" >React not working!</div>