
.new-gig-form-container{
    width: 33.33333%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.new-gig-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.new-album-form-container{
    width: 33.33333%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.new-song-form-container{
    width: 33.33333%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.admin-item-index-container{
    width: 33.33333%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}