
// .app-div{
//     width: 100vw;
//     height: 
// }

.main-home-container{
    width: 100vw;
    height: auto;
    min-height: 1750px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}