
.app-div{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-home-container{
    width: 100vw;
    height: auto;
    min-height: 1150vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
    padding-top: 120px;
}