<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the ghosts' mailing list, <%= @user.name %>;</h1>
    <p>
      You have successfully pledged allegiance to the flag of the <em>mtvghosts of America<em>;
      <br>
      We promise we won't send you annoying crap; Only some truly valuable, desired content only available to our fans who decided to sign up;
      <br>
      By the way, semicolons are the <em>real</em> way to end a sentence;
    </p>
    # 
    <p>
        Thanks again for your support;
        <br>
        Stay true to you;
        <br>
        And don't be afraid to be a nerd sometimes;
    </p>

    <h2>-MTVG</h2>
  </body>
</html>